/*
	color: white #fff
	       black #000
*/
	       



body {
	background-color: #fff; color: #000;
	margin: 0;
	padding: 0;
}



div[top]{
	/* A4 ‰¡*/
	max-height:190mm;	/* 210mm-20mm */
	width:277mm;	/* 297mm-20mm */
	background-color:#eee;
	overflow-y: scroll!important;
	overflow-x: hidden;

}
div[top2]
{
	-webkit-column-count: 2; 
	-moz-column-count: 2;
	column-count: 2;
}

H1{
	font-size: 150%;
	background-color:#337;
	color:#fff;
}

H2{
	font-size: 125%;
}

H3{
	font-size: 120%;
}

H4{
	font-size:115%;
}

H5{
	font-size:110%
}

H6{
	font-size: 105%
}


/* ƒƒjƒ…[ */
.dropmenu{
  *zoom: 1;
  list-style-type: none;
  width: 960px;
  margin: 5px auto 30px;
  padding: 0;
}
.dropmenu:before, .dropmenu:after{
  content: "";
  display: table;
}
.dropmenu:after{
  clear: both;
}
.dropmenu li{
  position: relative;
  width: 20%;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}
.dropmenu li a{
  display: block;
  margin: 0;
  padding: 15px 0 11px;
  background: #8a9b0f;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
}
.dropmenu li ul{
  list-style: none;
  position: absolute;
  z-index: 9999;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}
.dropmenu li ul li{
  width: 100%;
}
.dropmenu li ul li a{
  padding: 13px 15px;
  border-top: 1px solid #7c8c0e;
  background: #6e7c0c;
  text-align: left;
}
.dropmenu li:hover > a{
  background: #6e7c0c;
}
.dropmenu li a:hover{
  background: #616d0b;
}


thead tr:nth-child(0n+1){
	background-color: #aaa;
}
tr:nth-child(2n+0){
	background-color: #ccc;
}
tbody tr:hover{
	background-color: #fdd;
}

a:link{
	color: blue;
	}
a:visited{
	color: purple;
	}
a:hover{
	color: red;
	}
a:active{
	color: yellow;
	}

code{
}

p{
	background-color: #473;
}


